# Setup Cloudbees Core

## CloudBees Core Prerequisites

- Kubernetes client 1.10 (or newer) installed and configured (kubectl) `- complete`
- An AWS EKS cluster running Kubernetes 1.10 (or newer) installed and configured `- complete`
- an nginx ingress controller installed in the cluster
- A DNS record that points to the NGINX Ingress Controllers Load balancer
- SSL certificates (needed when you deploy CloudBees Core

## NGINX Ingress Controller

> You must use either L4 or L7 networking for the NGINX Ingress Controller. If you plan to use external masters or agents, it is recommended you use L4 networking due to a Kubernetes limitation preventing mixed L4/L7 listeners on ELBs.

Run the following commands to install L4 Load Balancer

```terminal
	kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/mandatory.yaml
	kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/aws/service-l4.yaml
	kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/aws/patch-configmap-l4.yaml
	kubectl patch service ingress-nginx -p '{"spec":{"externalTrafficPolicy":"Local"}}' -n ingress-nginx
```


<%= image_tag "images/nginx-ingress.gif" %>

After running the commands, a Classic Load Balancer should be created in aws ec2 page.

## DNS Record
Create a DNS record for the domain you want to use for CloudBees Core, pointing to your NGINX ingress controller load balancer.

As the AWS ELB has a redundant set-up with multiple IPs, it is recommended that you create a CNAME record pointing to the ELB DNS.

## SSL Certificates
--> TODO

## HTTPS Setup

### TLS Termination at ELB level

As an alternative, TLS termination can be set up at the AWS Load Balancer level, by using AWS ACM service.

This can be done by adding the following annotations to the NGINX ingress controller service. The ARN reference must be replaced by the actual ARN of the ACM certificate used to do the TLS offloading.

```terminal
	kubectl annotate service ingress-nginx service.beta.kubernetes.io/aws-load-balancer-proxy-protocol='*'
	kubectl annotate service ingress-nginx service.beta.kubernetes.io/aws-load-balancer-ssl-ports="https"
	kubectl annotate service ingress-nginx service.beta.kubernetes.io/aws-load-balancer-ssl-cert="arn:aws:acm:us-west-2:XXXXXXXX:certificate/XXXXXX-XXXXXXX-XXXXXXX-XXXXXXXX"
	kubectl annotate service ingress-nginx service.beta.kubernetes.io/aws-load-balancer-ssl-negotiation-policy="ELBSecurityPolicy-TLS-1-2-2017-01"
```

<%= image_tag "images/nginx-ingress2.gif" %>

### Redirect HTTP to HTTPS

Copy/paste the following to a new file and save it as `nginx-configuration-configmap-patch.yaml`

> you can use vi editor to paste the commands below.

```yaml
data:
  use-proxy-protocol: "true"
  http-snippet: |
	map '' $pass_access_scheme {
	   default          https;
	}
	map '' $pass_port {
		default          443;
	}
	server {
	  listen 8080 proxy_protocol;
	  return 301 https://$host$request_uri;
	}
```
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
Apply this patch using the command: 

```terminal
	kubectl patch configmap nginx-configuration -n ingress-nginx -p "$(cat nginx-configuration-configmap-patch.yaml)" 
```

<br /><br /><br /><br />

Then, patch the service to forward the traffic to port 8080.

Copy/paste the following to a new file and save it as `nginx-service-patch.yaml`

```yaml
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  - name: https
    port: 443
    targetPort: http
```

<br /><br /><br /><br /><br /><br /><br /><br /><br />
Then, patch the service using the following command:

```terminal
kubectl patch service ingress-nginx -n ingress-nginx -p "$(cat nginx-service-patch.yaml)"
```

This procedure does several things:

* It makes NGINX listen to port 8080, in addition to existing ports. 
* Any traffic coming to port 8080 is redirected to https protocol. 
* It overrides several computed variables to instruct upstream that the traffic is being served in https on port 443. 
* The load balancer is reconfigured so that incoming traffic on port 80 is forwarded on port 8080 for redirection.

### CloudBees Core Namespace

Create the cloudbees core namespace by running the commands

```terminal
echo "apiVersion: v1
kind: Namespace
metadata:
  labels:
    name: cje
  name: cje" > cje-namespace.yaml
```

```terminal
kubectl create  -f cje-namespace.yaml
```

```terminal
kubectl config set-context $(kubectl config current-context) --namespace=cje
```

## Installing CloudBees

Download the latest CloudBees core installer: [https://downloads.cloudbees.com/cloudbees-core/cloud/latest/](https://downloads.cloudbees.com/cloudbees-core/cloud/latest/)

As of 24/06/2019, the latest version is `2.164.3.2`

```terminal
curl -o cloudbees-core_2.164.3.2_kubernetes.tgz \
https://downloads.cloudbees.com/cloudbees-core/cloud/latest/cloudbees-core_2.164.3.2_kubernetes.tgz
```

<br /><br /><br /><br /><br /><br /><br />
Copy the domain name and export it. 

```terminal
export INSTALLER=cloudbees-core_2.164.3.2_kubernetes.tgz
export DOMAIN_NAME=<YOUR_DOMAIN_NAME_FOR_CLOUDBEES_CORE>
tar xzvf $INSTALLER
```

Replace the example domain in cloudbees-core.yml with your domain name. <br /><br /><br /><br /><br />

```terminal
cd cloudbees-core_2.121.3.1_kubernetes
sed -e s,cloudbees-core.example.com,$DOMAIN_NAME,g < cloudbees-core.yml > tmp && mv tmp cloudbees-core.yml
```

A prompt will appear for overwrite, Input yes. 

```terminal
kubectl apply -f cloudbees-core.yml
serviceaccount/cjoc created
role.rbac.authorization.k8s.io/master-management created
rolebinding.rbac.authorization.k8s.io/cjoc created
configmap/cjoc-configure-jenkins-groovy created
statefulset.apps/cjoc created
service/cjoc created
ingress.extensions/cjoc created
serviceaccount/jenkins created
role.rbac.authorization.k8s.io/pods-all created
rolebinding.rbac.authorization.k8s.io/jenkins created
configmap/jenkins-agent created
```

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
Wait for a few minutes for the CJOC to roll out.


On your browser, Navigate to `https://<your domain name>/cjoc`


<%= image_tag "images/cbcore-login.png" %>

```terminal
kubectl exec cjoc-0 -- cat /var/jenkins_home/secrets/initialAdminPassword
```

Copy the output to the Jenkins Initial Password page. Continue and register admin user. 

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />









	